.App {
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.title {
  font-size: 2em;
  color: #333;
}

.modal-body {
  max-height: calc(
    100vh - 150px
  ); /* Adjust the 210px to fit the modal header and footer */
  overflow-y: auto;
}

.TextJustify {
  text-align: left;
  /* max-width: 800px;
  margin: 0 auto;
  padding: 20px; */
}
